

.loading {
    margin-top: 50px;
}

.category-item {
    cursor: pointer;
}

.home-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 50px;
    padding-left: 50px;
}


.order-option{
    color: dodgerblue;
    font-size: 15px;
}

.order-option-divider{
    font-size:13px;
    color:lightslategrey;
}